@-webkit-keyframes flying-square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flying-square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.about__title, .aproach__title, .contact__title, .footer__form-title, .testimonials__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.aproach__sub-title, .contact__text, .servises__info-process, .people-card__company, .testimonials__sub-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.expertise__title, .promo__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%; }

.expertise__item-text, .servises__info-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%; }

.servises-card__item, .people-card__text, .people-card__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%; }

.expertise__item-title, .header__title, .servises-card__number, .servises-card__button, .servises__info-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

@keyframes flying-square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.about__title, .aproach__title, .contact__title, .footer__form-title, .testimonials__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.aproach__sub-title, .contact__text, .servises__info-process, .people-card__company, .testimonials__sub-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.expertise__title, .promo__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%; }

.expertise__item-text, .servises__info-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%; }

.servises-card__item, .people-card__text, .people-card__name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%; }

.expertise__item-title, .header__title, .servises-card__number, .servises-card__button, .servises__info-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

.about {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%; }

.aproach__text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 150%; }

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px; }

.expertise__item-title {
  font-size: 20px;
  line-height: 140%; }

.contact__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%; }

.header__title {
  font-size: 64px;
  line-height: 106%;
  letter-spacing: -2px; }
  @media (max-width: 950px) {
    .header__title {
      font-size: 45px; } }

.header__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 150%; }

.promo__text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 150%; }

.servises-card__number {
  font-size: 13px;
  line-height: 24px; }

.servises-card__button {
  font-size: 15px;
  line-height: 22px; }

.servises__info-title {
  font-size: 32px;
  line-height: 130%; }

.slider__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 140%; }

.slider__text-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 3px; }

.promo {
  background-color: #fff;
  position: relative; }
  .promo__square {
    position: absolute;
    z-index: 0;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, background-color 0.5s;
    transition: transform 0.5s, background-color 0.5s, -webkit-transform 0.5s; }
    .promo__square--small {
      width: 5vw;
      height: 3vw;
      -webkit-box-shadow: 0 0 40px 1px #2060f6;
              box-shadow: 0 0 40px 1px #2060f6;
      border-radius: 15%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg); }
      .promo__square--small:nth-child(4) {
        top: 10%;
        left: 40%; }
      .promo__square--small:nth-child(5) {
        bottom: 10%;
        left: 25%; }
      .promo__square--small:nth-child(6) {
        bottom: 30%;
        right: 20%; }
      .promo__square--small:nth-child(7) {
        bottom: 80%;
        right: 10%; }
    .promo__square--medium {
      width: 7vw;
      height: 3.5vw;
      -webkit-box-shadow: 0 0 40px 2px #2060f6;
              box-shadow: 0 0 40px 2px #2060f6;
      border-radius: 15%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      top: 30%; }
      .promo__square--medium:nth-child(8) {
        top: 15%;
        left: 3%; }
      .promo__square--medium:nth-child(9) {
        top: 55%;
        left: 3%; }
      .promo__square--medium:nth-child(10) {
        top: 75%;
        right: 25%; }
      .promo__square--medium:nth-child(11) {
        bottom: 55%;
        right: 5%; }
    .promo__square--large {
      width: 11vw;
      height: 5vw;
      -webkit-box-shadow: 0 0 40px 3px #2060f6;
              box-shadow: 0 0 40px 3px #2060f6;
      border-radius: 15%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg); }
      .promo__square--large:nth-child(12) {
        top: 70%;
        left: 10%; }
      .promo__square--large:nth-child(13) {
        top: 15%;
        left: 20%; }
      .promo__square--large:nth-child(14) {
        top: 15%;
        right: 25%; }
      .promo__square--large:nth-child(15) {
        bottom: 15%;
        right: 5%; }
  .promo__wrapper {
    position: relative;
    text-align: center;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .promo__title {
    position: relative;
    z-index: 1;
    color: #253757;
    margin-bottom: 24px; }
  .promo__text {
    position: relative;
    z-index: 1;
    color: #6c788b;
    margin-bottom: 64px; }
  .promo__btn:hover ~ .promo__square {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg);
    background-color: #2060f6;
    border: none; }
  .promo__btn {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }

/*# sourceMappingURL=promo.css.map */
